body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgba(255, 255, 255, 0.768)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  height: 92vh;
}
.logout{
  color: rgb(143, 151, 236);
  text-decoration: underline;
  font-weight: bold;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../public/moogles.PNG");
  background-position: center;
  background-size: 25%;
}
.navButton{
  font-weight: bold;
  color: rgb(143, 151, 236);
}
.display{
  display: grid;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../public/ff14background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 51px;
  height: fit-content;
  min-height: 100%;
  text-align: center;
}
.characters{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.characterdisplay{
  background-color: rgb(41, 16, 63, .7);
  border-radius: 25px;
  margin: 10px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex-basis: 30%;
}
.characterInfo{
  display: grid;
  text-align: left;
  vertical-align: bottom;
  margin-left: 10px
}
.charlabel{
  font-weight: bold;
}
.characterPictureBox{
  display: inline-block;
  background-color: rgba(58, 54, 150, 0.7);
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

.characterPictureForm{
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  padding: 4px;
  background-color: black;
  
}

.characterPictureForm button{
  border-radius: 25px;
}
.characterPictureForm input{
  border-radius: 25px;
}

.screenshotBox{
  display: inline-block;
  background-color: rgba(49, 71, 28, 0.7);
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

.screenshotForm{
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  padding: 4px;
  background-color: black;
  
}

.screenshotForm button{
  border-radius: 25px;
}
.screenshotForm input{
  border-radius: 25px;
}
.characterCreateForm{
  background-color: rgba(150, 54, 113, 0.7);
 
}
.screenshot{
  max-width: 200px;
  max-height: 200px;

}
.ssCard{
  background-color: rgba(150, 54, 113, 0.7);
  border-radius: 25px;
  padding: 10px;
  border-style: solid;
  border-color: black;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
  justify-items: center;
  align-items:start;
}
.charactergallery{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  justify-items: center;
  align-items:start;
}
.forms{ 
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

textarea{
  height: 100px;
  width: 200px;
}
.characterForms{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.deletecharacter{
  background-color: rgba(166, 48, 30, 0.7);
}
.characterEditForm{
  background-color: rgba(20, 94, 99, 0.7);
}

.characterslist{
  border-radius: 25px;
  background-color: rgba(201, 48, 120, 0.7);
  text-align: left;
 margin-left: 10px; 
  
}
.characterspage{
  display: grid;
  grid-template-columns: 10% 1fr;
}